* {
  padding: 0;
  margin: 0;
}
.signInContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.text-container {
  width: 400px;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  width: 400px;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
#loginTitle {
  color: #5c558c;
  font-weight: 900;
  border-bottom: 4px solid transparent;
  border-image: linear-gradient(45deg, #F7B344 ,#EA7FBF, #E575BD);
  border-image-slice: 1;
  padding-bottom: 20px;
  font-family: Verdana, Tahoma, sans-serif;
}
.loginTexts {
  margin-top: 40px;
  padding-bottom: 10px;
}
p {
  color: #9d9b9d;
  font-weight: bold;
}
#forgotPassword {
  text-decoration: none;
  color: #e889ae;
}
.loginUserInputs {
  border-style: none;
  border-bottom: 1px solid #d9d9d9;
  outline: none;
  width: 400px;
  height: 25px;
  font-size: 20px;
  padding-bottom: 5px;
  margin-top: 25px;
}
.loginUserInputs:focus + label > span,
.loginUserInputs:valid + label > span {
  visibility: hidden;
}
#labelLoginName {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  position: relative;
  top: -25px;
  width: 100%;
  display: block;
  color: #d9d9d9;
  font-weight: bold;
}
#labelLoginPassword {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  position: relative;
  top: -25px;
  width: 100%;
  display: block;
  color: #d9d9d9;
  font-weight: bold;
}
#loginInputTwo {
  margin-top: 50px;
}
#loginInfoOne {
  position: absolute;
}
#loginIanfoTwo {
  position: absolute;
}
.button {
  margin-top: 50px;
}
.sign-in-errors {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: red;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-top: 5px;
}
#loginError {
  display: none;
}
#loginErrorTwo {
  display: none;
}
#loginButton {
  background-image: linear-gradient(173deg, #fe6daa, #9583f1);
  width: 400px;
  height: 60px;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
}
.blobContainer {
  display: flex;
  justify-content: right;
  width: 100%;
  position: fixed;
}
.blobContent {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 15px;
  right: 250px;
  z-index: 1000;
}
.tutorial {
  color: white;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
  margin-right: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.sign-up {
  border: solid #FFBD75;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
}
.learn-more {
  color: white;
  padding: 10px 20px 10px 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: solid #20e8fe;
  margin-left: 25px;
  border-radius: 20px;
  cursor: pointer;
}
.blog {
  padding: 10px 20px 10px 20px;
  cursor: pointer;
  margin-left: 25px;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a {
  text-decoration: none;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.blobOne {
  position: absolute;
  top: 500px;
  left: 100px;
  width: 400px;
}
.blobTwo {
  position: absolute;
  background-color: #feb646;
  width: 150px;
  height: 150px;
  margin-top: 350px;
  border-radius: 50%;
  margin-right: 100px;
}
.blobThree {
  position: absolute;
  background-color: #20e8fe;
  width: 80px;
  height: 80px;
  margin-top: 550px;
  border-radius: 50%;
  margin-right: 135px;
}
.blobFour {
  margin-left: 20px;
  padding-top: 25px;
  position: absolute;
  width: 450px;
  height: 450px;
  margin-top: 140px;
  border-radius: 100%;
  margin-right: -280px;
  z-index: 50;
  background-color: rgba(51, 214, 253, 0.8);
  mix-blend-mode: darken;
}
.blobFive {
  width: 400px;
  position: absolute;
  left: 20px;
}
.topRightBlob {
  transform: rotate(-20deg);
  width: 1200px;
  right: -302px;
  top: -715px;
  position: absolute;
  shape-rendering: crispEdges;
  fill: url(#gradientBorder);
}
.topRightBlobTwo {
  transform: rotate(154deg);
  width: 1200px;
  right: -533px;
  top: -299px;
  position: absolute;
}
.topRightBlobThree {
  transform: rotate(-33deg);
  position: absolute;
  right: -229px;
  top: 28px;
  width: 500px;
  z-index: 20;
}